@font-face {
    font-family: 'forbiden';
    src: url('../fonts/Forbiden.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'happytitle';
    src: url('../fonts/KGHAPPY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'happy';
    src: url('../fonts/KGHAPPYSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(156, 139, 187);
    font-family: happy, Arial, sans-serif;
    
};

li {
    list-style-type: none;
};

.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
        'top_bar top_bar'
        'menu content';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 
        80px 1fr;
    ;
}

.content{
    grid-area: content;
}

.main a{
    text-decoration: none;
}

.top_bar span {
    color: black;
    font-size: 25px;
}

.top_bar{
    font-family: happytitle;
    display: flex;
    align-items: center;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='20' patternTransform='scale(2) rotate(20)'><rect x='0' y='0' width='100%' height='100%' fill='%2384b7d3ff'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='2.5' stroke='%23abd4e9ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-110,-198)' fill='url(%23a)'/></svg>");
    grid-area: top_bar;
    padding: 15px;
}

.menu{
    grid-area: menu;
    background-color: #f3e2c6   ;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ccc;
}

.menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}
.menu li {
    padding-block: 20px;
    font-size: 20px;
    color: black;   
    border-bottom:1px solid rgb(77, 77, 77);
}

.menu li:hover{
    background-color: rgb(247, 190, 98);
    cursor: pointer;
}

.menu a {
    background-color: #EFD09E;
}

.popup{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
}
.invisible{
    display: none;
    grid-area: 2 / 1 / 3 / 3; /* From row 2, column 1 to row 3, column 2 */
    z-index: 2;
}
 
.homepage{
    width: 60px;
    margin: 6px;
    padding: 4px;
}

.homepage:hover {
    border-radius: 50px;
    background-color: #6e94a8;
}

.sharepopup{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #000000;
    text-align: center;
    height: 100%;
    width: 100%;    
    z-index: 6;
}

.sharepopup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.share-btn {
    background-color: #84b7d3;
    color: black;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
}

.share-btn:hover {
    background-color: #5c90ad;
}

.closeShare {
    text-align: right;
    
}

.closeShare button {
    /* color:white; */
    background-color: #84b7d3;
    border: none;
    box-shadow: 1px 2px 1px #5c90ad;
    padding: 10px;
    cursor: pointer;
    
}

.popup {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
}

/* Conteúdo do pop-up */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

/* Estilo para os botões de confirmação e cancelamento */
.popup-content button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.disabled {
    opacity: 0.5;        
    pointer-events: none;        
    cursor: not-allowed;     
}