li {
    list-style-type: none;
}

body {
    font-family: monospace;
    font-size: large;
}

button {
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #797979;
    padding: 2px 5px;
}

button:hover {
    background-color: rgb(228, 228, 228);
}


.on {
    display: block !important;
}

.off {
    display: none;
}

.main{
    display: grid;
    grid-template-areas: 
        'top_bar top_bar'
        'menu content';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 
        80px 1fr;
    ;
}

.content{
    display:block;
    background-color: aliceblue;
}

.top_bar{
    z-index: 3;
    grid-area: top_bar;
}

.chat {
    padding-left:0;
    margin: 0;
    text-align: left;
}

.chat li {
    background-color: #EFD09E;
    padding-left: 10px;
    padding-block: 20px;
    font-size: 20px;
    color: black;
    border-bottom:1px solid rgb(77, 77, 77);
    text-align: left;
}
.chat li:hover{
    background-color: #f0c37a;
}

.chat li img {
    width: 30px;
    margin-bottom: -10px;
}

.chat li label {
    margin-left: 10px;
}
/* --- DIV das opções "adicionar" ---------------------- */

.add-buttons {
    position: fixed;
    bottom: 5px;
    left:2px;
    padding: 1px;
    display: inline-flex;
}

.add-buttons button {
    background-color: white;
    padding: 7px 15px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px #797979;
    border: 1px solid #cecece;
}

.add-buttons button:hover {
    background-color: rgb(228, 228, 228);
}

/* --- ADICIONAR AMIGO ------------------------------- */


.popupBack {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index:2;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}
.add-friend {
    display: block;
    position:fixed;
    width: 300px;
    height: 150px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    background-color: #ffffff;
    padding: 5px;
}
.close  { 
    position: block;
    top: 10px;      
    right: 10px;   
    z-index: 1000; 
}

.ole{
    text-align: center;
}

.add-friend p{
    text-align: center;
    padding-bottom: 10px;
}


.popup-info {
    background-color: #e9d3fd;
    text-align: end;
    width: 100%;
}

.popup-info button {
    border: none;
    background-color: #e9d3fd;
    padding: 2px 10px;
}

.popup-info button:hover {
    background-color: #dfbdff;
}

.popup-content {
    padding: 10px 20px;
    width: 100%;
}

/* --- Dentro do chat ----------------------------- */

.chat-info {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #c8d7de;
    padding: 5px 10px;
}

.chat-info img {
    width: 35px;
    margin-top: 5px;
}

.chat-info span {
    margin: 2px 5px 0px 5px;
    font-size: 25px;
    
}
.toggleChat button {
    position: absolute;
    right: 15px;
    top: 88px;
    padding: 7px 20px;
}

.chat-insert {
    position: fixed;
    bottom: 6px;
    right: 0px;
    margin: 15px 10px 5px 10px;
    background-color: #EFD09E;
    border-radius: 40px;
    height: 37px;
    width: calc(100% - 215px);
    box-shadow: 1px 2px #cccccc;
}


#insert-file {
    width: 20px;
    border-radius: 40px;
    background-color: white;
    padding: 4px;
}

.chat-insert img {
    width: 25px;
    margin-bottom: -10px;
    padding: 2px;
    background-color: white;
    border-radius: 40px;
}

.chat-insert img:hover {
    opacity: 70%;
}

.chat-insert input {
    margin: 5px 5px 5px 5px;
    border: none;
    padding: 6px;
    border-radius: 30px;
    width: calc(95% - 30px);
}

.chat-insert button:hover {
    background-color: #d8d8d8;
}

.chat-div {
    max-height: calc(100vh - 80px - 49px - 37px);
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    height: 100%;
    box-sizing: border-box;
}

.chat-text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 20px;
}

.chat-text p {
    background-color: #EFD09E;
    padding: 8px;
    margin:2px 8px;
    border-radius: 20px;
    max-width: 70%;
    font-size: large;
}

.chat-pessoa {
    font-size: small ;
}

.chat-text img {
    width: 300px;
    border-radius: 15px;
}

.self {
    align-self: flex-end;
}

.other {
    align-self: flex-start;
}

.addGroup-div {
    display:none;   
    grid-area: content;
    background-color: aliceblue;
    z-index: 1;

    flex-direction: column;
    overflow-y: auto; 
    height: 100%;
    box-sizing: border-box;
}

.addGroup {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr 4fr;
    grid-template-areas: 
        'def'
        'details'
        'add'
        'added ';

    height: 80%;
    width: 90%;
    flex-grow: 1;
    gap: 10px;
    font-size: large;
    padding: 20px 15px;
}

#definition {
    grid-area: def;
    display: flex;
}

#avatar img {
    width: 40px;
    margin: -10px 0px 0px 10px;
}

.details {
    grid-area: details;
}

.details textarea {
    width: 100%;
    height: 60%;
    margin-top: 10px;
}

#add {
    grid-area: add;
    display: flex;
}

#users input{
    margin-top: 10px;
}

#friends {
    display: flex;    
    flex-direction: column;
    margin: 0px 0px 0px 30px;
}

#friends div {
    display: flex;
    flex-direction: row;
    gap: 5px; /* Espaço entre o select e o botão */
    align-items: center;
    margin-top: 10px;
}

#friends select {
    width: 80%;
}

.added {
    grid-area: added;
}

.added table {
    width: 100%;
    font-size: large;
    margin-top: 15px;
}

.added tr:nth-child(odd) {
    background-color: rgba(216, 216, 216, 0.4);
}

.added tr:nth-child(even) {
    background-color: rgba(243, 243, 243, 0.4);
}

.added td:first-child {
    width: calc(100% - 25px);
    padding: 5px;
}

.added td:last-child {
    width: 25px;
    text-align: center;
    cursor: pointer;
}

.added td:last-child:hover {
    background-color: rgb(255, 80, 80);
    color:white;
}

#voltar {
    position: fixed;
    bottom: 5px;
    right:135px;    
    text-align: center;
    padding: 10px 40px;
    background-color: #cdcdcd;
    font-size: large;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #bdbdbd; 
}

#concluido {
    position: fixed;
    bottom: 5px;
    right:10px;    
    text-align: center;
    padding: 10px 40px;
    background-color: #84b7d3;
    font-size: large;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px #657883;
}

#concluido:hover{
    background-color: #6796ae
}

#concluido:disabled {
    background-color: #eeeeee;
}

/* --------------------------- */

#groupInfo-div {
    display:none;   
    grid-area: content;
    background-color: white;
    z-index: 1;

    flex-direction: column;
    overflow-y: auto; 
    height: 100%;
    box-sizing: border-box;
}

#groupInfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 5fr;
    grid-template-areas: 
        'details'
        'added ';
    height: 80%;
    width: 90%;
    flex-grow: 1;
    gap: 10px;
    font-size: large;
    padding: 20px 15px;
}

#backChat {
    margin-left: 7px;
}

#backChat:hover {
    background-color: #92b5c7;
    border-radius: 40px;
}

#seeGroupInfo {
    right: 200px;
}

/* --------------------------- */

.sharedAlbum-div {
    display:none;   
    grid-area: content;
    background-color: aliceblue;
    z-index: 2;
    flex-direction: column;
    overflow-y: auto; 
    height: 100%;
    box-sizing: border-box;
}

.sharedAlbum {
    display: flex;
    grid-area: content;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    gap: 10px;
    padding-inline: 15px ;
    justify-content: flex-start;    
    overflow-y: auto;
    z-index: 3;
    text-align: center;
}

#photoView {
    display: flex;
    grid-area: content;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    background-color: white;
    justify-content: flex-start;    
    overflow-y: auto;
    z-index: 3;
}

.shared div {
    height: 170px;
    max-width: 170px;
    text-align: center;
    align-items: start;
    z-index: 3;
}

.sharedAlbum img {
    height: 120px;
}

.shared label {
    font-size: 120%;
}

.photo-container img {
    height: fit-content;
}

.photoMainDiv {
    width: 100%;
}

#backButton{
    width: 40px;
    margin: 10px 5px;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
}


.popup-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    text-align: center;
    align-items: center;
    z-index: 1000;
}

/* Popup Box */
.chat-popup {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15% auto;
}

.header {
    padding: 10px;
    background-color: #b4d1df;
    text-align: center;
    border-radius: 10px;
}

.search-bar {
    width: 90%;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
}

.chat-list {
    padding: 10px;
}

.chat-item {
    margin: 10px 0;
}

.chat-item label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
}

.chat-item input[type="checkbox"] {
    margin-right: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
    border-radius: 10px;
    align-items: right;
}

.footer .btn {
    padding: 8px 12px;
    font-size: 14px;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.footer .btn-send {
    color: white;
    background-color: #5c90ad;
    animation: infinite;
}
.footer .btn-send:hover {
    background-color: #4b7c96;
    
}

/* Show Popup When Active */
.popup-container.active {
    display: flex;
    z-index: 100;
    background-color: aliceblue
    ;
}
