.photoMainDiv {
    display: flex;
    height: calc(100vh - 80px); 
    background-color: aliceblue;
}

.back-button {
    font-size: 18px;
    color: #0033cc;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #ddd;
}

.photoView {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-right: 2px solid #ccc;
}

.photo-container {
    width: 500px;
    height: 500px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
}

.photo {
    max-width: 100%;
    max-height: 100%;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-start;
}

.action-button {
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    flex: 1;
}



/* Animação detalhes */

.photo-container-animation {
    position: relative;
    width: 500px;
    height: 500px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}

.photo-container-animation.rotated {
    transform: rotateY(-180deg);
}

.photo-container-animation.rotated-back {
    transform: rotateY(0deg); 
}

.photo-front{
    position: absolute;
    width: 100%;
    height: 90%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-back {
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100%; 
}

/* Barra Lateral */
.sidebar {
    width: 270px;
    border-right: 2px solid #ccc;
    background-color: #eee7c8;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0;
    text-align: center; 
}

.sidebar li {
    padding: 15px 0;
    border-bottom: 1px solid;
}

.sidebar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.sidebar li:hover {
    background-color: #F0E197;
}

.bottom-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.option-button {
    background-color: #eee7c8;
    padding: 15px;
    font-size: 18px;
    border-top: 1px solid #000000;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.option-button:hover {
    background-color: #F0E197;
}

.photo-front, .photo-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-front img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.photo-back {
    transform: rotateY(180deg);
    background-color: #f9f9f9;
    padding: 20px;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.details-table th, .details-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.photo-container.rotated {
    transform: rotateY(-180deg);
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-start;
}

.action-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    min-width: 150px;
    box-sizing: border-box;
}

/* Barra superior */
.top_bar {
    color: white;
    padding: 15px;
    text-align: center;
}

/* Botões de ação e tags */
.button-group, #tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: flex-start;
}

.action-button, .user-tag {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    
}

.action-button:hover, .user-tag:hover {
    background-color: #e0e0e0;
}

/* Botão de remoção em cada tag */
.user-tag {
    position: relative; 
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    display: inline-flex; 
    align-items: center;
    margin: 3px;
    height: 25px; 
    width: 80px;
    line-height: 1.2; 
}

.user-tag input.tag-input {
    border: none;
    background: transparent;
    font-size: 14px;
    flex-grow: 1;
    outline: none;
    height: 100%; 
    width: auto; 
}

.remove-tag-button {
    position: absolute; 
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #ff4d4d; 
    border: none;
    border-radius: 50%; 
    color: white; 
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.remove-tag-button:hover {
    background-color: #cc0000; 
}

/* Estilo do pop-up de confirmação */
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

/* Conteúdo do pop-up */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

/* Estilo para os botões de confirmação e cancelamento */
.popup-content button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}


/* Remove Tag */

#TagPopup {
    display: none;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
}

.popup-content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.popup-content button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

.popup-content .confirm {
    background-color: lightgrey; 
    color: black;
}

.popup-content .confirm:hover {
    background-color: grey; 
}

.popup-content .cancel {
    background-color: #EFD09E; 
    color: black;
}

.popup-content .cancel:hover {
    background-color: rgb(247, 190, 98); 
}


/* Remove photo */

.photo-delete-popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-delete-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.photo-delete-popup-content h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.photo-delete-popup-content button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

.photo-delete-popup-content .confirm {
    background-color: lightgray; 
    color: black;
}

.photo-delete-popup-content .confirm:hover {
    background-color: grey;
}

.photo-delete-popup-content .cancel {
    background-color: #EFD09E; 
    color: black;
}

.photo-delete-popup-content .cancel:hover {
    background-color: rgb(247, 190, 98) ;
}



