html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(156, 139, 187);
    
}

.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
        'top_bar top_bar'
        'menu content';
    grid-template-columns: 200px 1fr;
    grid-template-rows: 
        1fr 9fr;
    ;
}

.main a{
    color: rgb(71, 54, 226);
    text-decoration: none;
}

.main a :hover{
    color: rgb(96, 88, 172);
    text-shadow: 1px 1px 4px rgb(255, 255, 255)
}

.top_bar{
    background-color: aquamarine;
    grid-area: top_bar;
}

.menu{
    grid-area: menu;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ccc;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
}
.menu li {
    margin: 10px;
    padding-block: 15px;
    font-size: 20px
}

.menu li:nth-child(9) {
    margin-bottom: 180px; /*Mudar*/
}

.content {
    grid-area: content;
    background-color: aliceblue;
}