html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(113, 186, 219);
}

.main {
    display: grid;
    grid-template-areas: 
        "app-name app-name"
        "top_bar top_bar"
        "sidebar content";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 50px 1fr;
    height: 100vh;
}


.app-name {
    grid-area: app-name;
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}


.top_bar {
    grid-area: top_bar;
    background-color: skyblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: seashell;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid #ccc;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar a {
    color: rgb(102, 195, 235);
    text-decoration: none;
}

.sidebar a:hover {
    color: rgb(96, 88, 172);
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}

.bottom-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Conteúdo Principal */
.content {
    grid-area: content;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo-placeholder {
    width: 100px;
    height: 150px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.button-group {
    display: flex;
    gap: 10px;
}

.action-button {
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    flex: 1;
}
